h3{
    color: black;
    background-color: red;
    font-size: 20px;
    padding-top: 2px;
}

.t_upper{
    text-transform: uppercase;
}
.t_lower{
    text-transform: lowercase;
}

.t_capitalize{
    text-transform: capitalize;
}

.t_center{
    text-align: center;
}

.t_right{
    text-align: right;
}
.t_d_under{
    text-decoration: underline;
}

.t_d_over{
    text-decoration: overline;
}

.t_d_line{
    text-decoration: line-through underline overline;
}
.t_indent{
    text-indent: 100px;
    line-height: 40px;
}
.l_space{
    letter-spacing: 12px;
    text-shadow: -3px -5px 5px rgba(94, 66, 66, 0.5);
}
.w_space{
    word-spacing: 15px;
}

.b_shadow{
    box-shadow: 15px 13px 8px rgba(129, 90, 90, 0.5);
    width: 300px;
    height: 400px;
}

.d_shadow{
    filter:drop-shadow(20px 20px 20px rgba(77, 57, 57, 0.5));
    width: 300px;
    height: 400px;
    
}
.d_shadow2{
    filter: drop-shadow(20px 20px 20px rgba(207, 5, 5, 0.5));
    width: 250px;
    height: 300px;
    border-radius: 50%;
   
}

#d_shadow2{
    border: 2px solid black;
    box-sizing: border-box;
    filter: drop-shadow(30px 30px 30px rgba(7, 7, 7, 0.5));
}

.t_color{
    color:brown;
}

.t_size{
    font-size: 30px;
}

.t_bg{
    background-color: yellow;
}

#t_color{
    color: green;
    font-size: 40px;
    background-color: black;
}

.f_family1{
    font-family: Arial, sans-serif;
    font-style: inherit;
}
.f_family2{
    font-family: Times New Roman, serif;
    font-style: italic;
}
.f_family3{
    font-family: Verdana, sans-serif;
}
.f_family4{
    font-family: Courier New, monospace;
}

.border1{
    border: 4px solid red;
}

.border2{
    border: 6px double blue;
}

.border3{
    border: 8px dashed green;
    border-radius: 50%;
    border-color: brown green darkblue yellow;

}

.border4{
    border: 10px inset orange;
}


.box1{
    border: 10px solid black;
    padding: 30px;
    margin: 50px 30px 50px 30px;
}

.box2{
    border: 6px double blue;
    padding: 30px;
    margin: 50px 30px 50px 30px;
    border-radius: 20px;
}

.box3{
    border: 6px dotted green;
    padding: 30px;
    margin: 50px 30px 50px 30px;
    border-radius: 50%;
}


.box4{
    border: 8px groove purple;
    padding: 30px;
    margin: 50px 30px 50px 30px;
    border-radius: 100%;
    height: 500px;
    width: 400px;
}


.box5{
    border: 10px ridge orange;
    padding: 30px;
    margin: 50px 30px 50px 30px;
    border-radius: 25%;
    height: 500px;
    width: 400px;
}


.box6{
    border: 10px outset red;
    padding: 30px 50px 30px 50px;
    margin: 50px 30px 50px 30px;
    border-radius: 75%;
    height: 500px;
    width: 400px;
}

.linear{
    height: 800px;
    background: linear-gradient(orange, white  ,green);
}

.heading1{
    font-size: 100px;
    text-align: center;
    padding-top: 280px;
    font-family: Arial, sans-serif;
    
    
}

.radial{
    height: 600px;
    background: radial-gradient(rgb(9, 9, 9),rgb(117, 117, 202), white, rgb(181, 144, 144) , rgb(122, 122, 62), rgb(164, 90, 164), orange, pink,white, purple, blue, orange);
    border-radius: 70%;
    border: 2px dotted black;
}


.conic{
    height: 600px;
    background: conic-gradient(from 90deg , red, orange, yellow, green, blue, indigo, violet);
    border-radius: 50%;
    border: 2px dotted black;
}

.container{
    background-image: url(/images/cat.jpg);
    background-size: cover;
    background-position: center;
    height: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 200px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   
}

.box{
    width: 300px;
    height: 300px;
    background-color: rgba(255, 0, 0, 0.5);
    border: 5px solid black;
    text-align: center;
    margin-bottom: 10px;
    
}
.box11{
    position: static;
}
.box21{
    position: relative;
    left: 300px;
    top: 20px;
}
.box33{
    position: absolute;
    left: 200px;
    top: 20px;
}
.box44{
    position: sticky;
    top: 10px;
}

.box55{
    position: fixed;
}

.hall{
    position: relative;
    width: 800px;
    height: 600px;
    background-color: lightgray;
    top: 60px;
    left: 250px;
     
}

#tv{
    position: absolute;
    top: 50px;
    left: 240px;
    width: 300px;
    height: 30px;
    background-color: red;

}

#sofa{
    position: absolute;
    top: 130px;
    left: 250px;
    width: 250px;
    height: 100px;
    background-color: blue;
}


